<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SCCO.WPF.MVC.CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <SCCO.WPF.MVC.CS.Properties.Settings>
      <setting name="DatabasePort" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="DatabaseUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value>oVxHTE4G6UrPxaKQ5dlrqA==</value>
      </setting>
      <setting name="MySQLServerPath" serializeAs="String">
        <value>C:\Program Files\MySQL\MySQL Server 5.5</value>
      </setting>
      <setting name="DatabaseServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ShareCapitalAccountCode" serializeAs="String">
        <value>363</value>
      </setting>
      <setting name="InterestOnLoanAccountCode" serializeAs="String">
        <value>401</value>
      </setting>
      <setting name="InterestRebateAccountCode" serializeAs="String">
        <value>401.01</value>
      </setting>
      <setting name="PatronageRefundAccountCode" serializeAs="String">
        <value>312</value>
      </setting>
      <setting name="CooperativeMemberCode" serializeAs="String">
        <value>E-01</value>
      </setting>
      <setting name="PatronageRefundAmountAllocated" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InterestOnShareCapitalPayableAccountCode" serializeAs="String">
        <value>311</value>
      </setting>
      <setting name="InterestOnShareCapitalAmountAllocated" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BranchName" serializeAs="String">
        <value>polo</value>
      </setting>
      <setting name="DatabaseEnvironment" serializeAs="String">
        <value>production</value>
      </setting>
      <setting name="ShareCapitalMaintainingBalance" serializeAs="String">
        <value>2000</value>
      </setting>
    </SCCO.WPF.MVC.CS.Properties.Settings>
  </userSettings>
</configuration>